* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: sans-serif;
}

.carousel-container {
  width: 90%;
  position: absolute;
  left:18%;
  top: 70%;
  max-width: 1200px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  margin: 50px auto;
  border-radius: 12px;
}

.carousel-track {
  display: flex;
  width: calc(200%);
  animation: slide 25s linear infinite;
}

.slide {
  flex: 0 0 20%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Animação suave */
@keyframes slide {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

@media (max-width: 768px) {
  .carousel-container {
    width: 100%;
    aspect-ratio: 4 / 3;
  }

  .slide {
    flex: 0 0 50%; 
  }
}

@media (max-width: 480px) {
  .carousel-container {
    aspect-ratio: 1 / 1;
  }

  .slide {
    flex: 0 0 100%; 
  }
}
