.Contatos{
    font-family: sans-serif;
    text-align: center;
    border: 2px black;
}

.imagens img{
    border-radius: 20%;
    padding: 10px;
    transition: transform 0.3s ease;
}

.imagens img:hover{
    transform: scale(1.05);
    cursor: pointer;
}