.new-product{
    position: absolute;
    left: 35%;
    bottom: 15%;
    color: rgb(97, 92, 85);
    display: inline-block;
    transition: transform 0.3s ease;
}

.new-product img{
    height: 40%;
    width: 40%;
    border-radius: 5%;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: block;
}

.new-product img:hover{
    transform: scale(1.02);
}

.botoes2{
    position: absolute;
    left: 65%;
    bottom: 40%;
    transition: transform 0.3s ease;
    display: inline-block;
}

.botoes2 img{
    width: 10%;
    cursor: pointer;
    display: block;
    transition: transform 0.3s ease;
}

.botoes2 img:hover{
    transform: scale(1.05);
}

.botoes1{
    position: absolute;
    left: 27%;
    bottom: 40%;
    transition: transform 0.3s ease;
    display: inline-block;
    
}

.botoes1 img{
    width: 10%;
    transition: transform 0.3s ease;
    cursor: pointer;
    display: block;
}

.botoes1 img:hover{
    transform: scale(1.05);
}