html,body{
    overflow-x: hidden;
}

.paginavendasesq{
    position: absolute;
    bottom: -60%;
    left: 5%;
    color: rgb(97, 92, 85);
    transition: transform 0.3s ease;
    display: inline-block;
    width: 50%;
}

.paginavendasesq img{
    height: 40%;
    width: 40%;
    border-radius: 5%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.paginavendasesq img:hover{
    transform: scale(1.05);
}


.paginavendasmeio{
    position: absolute;
    bottom: -60%;
    left: 37%;
    color: rgb(97, 92, 85);
    transition: transform 0.3s ease;
    display: inline-block;
    width: 50%;
}

.paginavendasmeio img{
    height: 40%;
    width: 40%;
    border-radius: 5%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.paginavendasmeio img:hover{
    transform: scale(1.05);
}


.paginavendasdir{
    position: absolute;
    bottom: -60%;
    left: 70%;
    color: rgb(97, 92, 85);
    transition: transform 0.3s ease;
    display: inline-block;
    width: 50%;
}

.paginavendasdir img{
    height: 40%;
    width: 40%;
    border-radius: 5%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.paginavendasdir img:hover{
    transform: scale(1.05);
}